server:
  port: 8080
  host: "0.0.0.0"

database:
  host: "localhost"
  port: 5432
  name: "iam"
  user: "iam_user"
  password: "${DATABASE_PASSWORD}"
  ssl_mode: "disable"

redis:
  host: "localhost"
  port: 6379
  password: "${REDIS_PASSWORD}"

hydra:
  admin_url: "http://localhost:4445"
  public_url: "http://localhost:4444"

logging:
  level: "debug"
  format: "json"
  output: "stdout"

